# Default ignored files
/shelf/
/workspace.xml
/avalonia.xml
/encoding.xml
/indexLayout.xml
/vcs.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HondaGPT.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Other
.idea/
/.idea.HondaGPT/
/.idea/

.idea/.idea.HondaGPT/
.idea/.idea.HondaGPT/.idea/